
.rv-nav-login-form /deep/ * {
  font-size:medium;
}

.rv-input {
  margin-right: 1em;
}

.rv-button {
  margin-right:1em;
  vertical-align: middle;
  width:8em;

  .rv-button-icon {
    font-size: small;
  }

  .rv-button-text {
    padding-left: .2em;
  }
}
// ------

.rv-profile-flyout-footer {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-color: rgba(0, 0, 0, .25);
  padding: 10px 0;
  width: 100%;
}


.rv-profile-flyout-footer > div {
  display: table-cell;
  text-align: right
}

.rv-profile-flyout-footer > div:first-child {
  text-align: left
}

.rv-profile-flyout {
  z-index: 20;
  outline: none;
  background: #fff;
  margin-top:.2em;
  margin-right:.2em;
  border: 1px solid rgba(0, 0, 0, .25);
  color: #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
  display: block;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 44px;
  border-radius: 2px;
}

.rv-profile-user-card {
  margin: 20px
}

.rv-profile-user-image {
  background-size: 96px 96px;
  border: none;
  vertical-align: top;
  height: 96px;
  width: 96px
}


.rv-user-given-name {
  font-weight: bold;
  margin: -4px 0 1px 0
}


.rv-user-email {
  color: #666
}


.rv-profile-account-link {
  color: #ccc;
  margin: 6px 0
}

.rv-profile-account-link a {
  margin: 0 10px
}

.rv-profile-account-link a:first-child {
  margin-left: 0
}

.rv-profile-account-link a:last-child {
  margin-right: 0
}


//---------------------------------------------------------

.rv-profile-sign-out-link {
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2px;
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #666;
  cursor: default;
  text-decoration: none;
  margin: 0 20px;
}

.rv-profile-account-link a {
  color: #36c;
  text-decoration: none
}

.rv-profile-account-link a:active, .rv-profile-account-link a:hover {
  text-decoration: underline
}

.rv-profile-user-image {
  background-size: 96px 96px;
  border: none;
  vertical-align: top;
  height: 96px;
  width: 96px
}
