<form *ngIf="user != null" (ngSubmit)="onSubmit($event)" #userForm="ngForm">
  <div class="rv-user-form-wrapper" layout="column" layout-align="start start" layout-fill>

    <div flex layout="row" layout-align="space-between center" layout-fill>

      <div class="rv-user-inputs-wrapper" layout="row" flex="80" layout-align="space-between start">
        <md-input [(ngModel)]="user.email" name="email" #fName="ngModel"
                  class="rv-input"
                  dividerColor="accent"
                  flex="40"
                  [type]="'text'"
                  required minlength="2"
                  value="{{user.email}}"
                  placeholder="Email"
                  (change)="onChange($event)"
                  (focus)="onFocus($event)"
                  (blur)="onBlur($event)"
        ></md-input>
        <md-input [(ngModel)]="user.displayName" name="displayName" #fDescription="ngModel"
                  class="rv-description rv-input"
                  dividerColor="accent"
                  flex="60"
                  [type]="'text'"
                  value="{{user.displayName}}"
                  (change)="onChange($event)"
                  (focus)="onFocus($event)"
                  (blur)="onBlur($event)"
                  placeholder="Name"></md-input>
      </div>
      <div class="rv-delete-button" flex layout="row" layout-align="end center">
        <button md-mini-fab
                type="button"
                class="ui button"
                aria-label="Delete User"
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
                (click)="doRemoveUser()"
                [disabled]="false">
          <md-icon class="md-24">delete</md-icon>
        </button>
      </div>
    </div>
    <div class="rv-user-roles-wrapper" layout="column" layout-align="space-between start" layout-fill>
      <div class="rv-sub-heading">Roles:</div>
      <div class="rv-user-role" *ngFor="let role of roles" layout="row" layout-fill layout-align="space-between center">
        <md-checkbox [checked]="userRoles[role.$key] === true" (change)="doToggleRole(role)">
          <span flex="50">{{role.$key}}</span>
        </md-checkbox>
      </div>
    </div>
    <div class="rv-user-permissions-wrapper" layout="column" layout-align="space-between start" layout-fill>
      <div class="rv-sub-heading">Permissions:</div>
      <div class="rv-user-permission" *ngFor="let perm of permissions" layout="row" layout-fill
           layout-align="space-between center">
        <md-checkbox [checked]="hasPermission(perm)"
                     [class.rv-explicitly-revoked]="isExplicitlyRevoked(perm)"
                     [class.rv-explicitly-granted]="isExplicitlyGranted(perm)"
                     (change)="doTogglePermission(perm)"
        >
          <span flex="50">{{perm.$key}}</span>
        </md-checkbox>
      </div>
    </div>
  </div>
</form>



