
rv-user-list-item-component {

  .rv-input {
    margin-left: 2em;
  }

  .rv-list-item-select {
    padding-left: 2em;
  }

  .rv-list-item-action-button-container {
    padding-right: 2em;
  }

  .rv-user-roles-wrapper, .rv-user-permissions-wrapper {
    margin-left: 4em;
    .rv-user-role, .rv-user-permission {
      margin-left: 2em;
    }
  }

  .rv-sub-heading {
    font-size: larger;
  }

  .rv-explicitly-granted {
    color: green;
  }

  .rv-explicitly-revoked {
    color: red;
  }

  .rv-drawer-toggle {
    border-top: 1px solid black;
  }

  .toggle-shape-container {
  }

  .rv-toggle-shape {
    height: 2em;
    width: 4em;
  }
  .rv-toggle-shape {
    path {
      stroke: #AAA;
      fill: #DDD;
    }
    line {
      stroke: #444;
    }
  }

}
