<div flex layout="column" >
  <md-list flex layout="column" layout-align="start">
    <md-list-item *ngFor="let role of roles" class="rv-role-list-item"
                  flex layout="column" layout-align="start">
      <rv-role flex layout="row"
               [role]="role"
               [permissions]="permissions"
               (change)="onChange($event)"
               (removeRole)="onRemoveRole($event)"
      ></rv-role>
    </md-list-item>
  </md-list>

  <div layout="row" layout-align="end">
    <button md-mini-fab (click)="doAddRole()">
      <md-icon class="md-24">add</md-icon>
    </button>
  </div>
</div>
