<div>
  <md-toolbar color="primary">
    <md-menu>
      <button md-menu-item> Refresh </button>
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
      <button md-menu-item disabled> Sign Out </button>
    </md-menu>
    <span flex>Roles</span>
  </md-toolbar>

  <div *ngFor="let role of roles">
    <span>Role: {{role.name}}</span>
  </div>

  <div layout-fill layout="row" layout-align="end center">
    <button md-mini-fab
            (click)="addRole('testRole1-', 'This is my test role')"
    > <md-icon class="md-24">add</md-icon> </button>
  </div>
</div>
