<div class="rv-role-form-wrapper" flex layout="column" layout-align="start">
  <form *ngIf="role != null" (ngSubmit)="onSubmit($event)" #roleForm="ngForm"
        flex layout="row"
        layout-align="space-between">
    <div flex layout="row" layout-align="space-between">
      <div class="rv-drawer-toggle" flex layout="row" layout-align="start center">
        <button md-mini-fab
                type="button"
                aria-label="Expand Roles and Permissions"
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
                (click)="collapsed = !collapsed"
                [disabled]="false">
          <md-icon class="md-24">{{collapsed ? 'chevron_right' : 'expand_more'}}</md-icon>
        </button>
      </div>
      <div class="rv-role-inputs-wrapper" layout="row" flex="80" layout-align="space-between">
        <md-input [(ngModel)]="role.$key" name="name" #fName="ngModel"
                  class="rv-input"
                  dividerColor="accent"
                  flex="40"
                  [type]="'text'"
                  required minlength="2"
                  value="{{role.$key}}"
                  placeholder="Name"
                  (change)="onChange($event)"
                  (focus)="onFocus($event)"
                  (blur)="onBlur($event)"
        ></md-input>
        <md-input [(ngModel)]="role.description" name="description" #fDescription="ngModel"
                  class="rv-description rv-input"
                  dividerColor="accent"
                  flex="60"
                  [type]="'text'"
                  value="{{role.description}}"
                  (change)="onChange($event)"
                  (focus)="onFocus($event)"
                  (blur)="onBlur($event)"
                  placeholder="Description"></md-input>
      </div>
      <div class="rv-delete-button" flex layout="row" layout-align="end center">
        <button md-mini-fab
                type="button"
                aria-label="Delete Role"
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
                (click)="doRemoveRole()"
                [disabled]="false">
          <md-icon class="md-24">delete</md-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!collapsed" class="rv-role-permissions-wrapper" layout="column" layout-align="space-between">
      <div class="rv-sub-heading">Permissions:</div>
      <div class="rv-role-permission" *ngFor="let perm of permissions"
           layout="row" layout-align="space-between">
        <md-checkbox [checked]="hasPermission(perm)" (change)="doTogglePermission(perm)">
          <span flex="50">{{perm.$key}}</span>
        </md-checkbox>
      </div>
    </div>
  </form>
</div>



