<div class="rv-role-form-wrapper" layout="column" layout-align="start start" layout-fill>
  <form *ngIf="role != null" (ngSubmit)="onSubmit($event)" #roleForm="ngForm"
        flex layout="row"
        layout-fill
        layout-align="space-between center">

    <div class="rv-role-inputs-wrapper" layout="row" flex="80" layout-align="space-between start">
      <md-input [(ngModel)]="role.name" name="name" #fName="ngModel"
                class="rv-input"
                dividerColor="accent"
                flex="30"
                [type]="'text'"
                required minlength="5"
                value="{{role.name}}"
                placeholder="Name"
                (change)="onChange($event)"
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
      ></md-input>
      <md-input [(ngModel)]="role.description" name="description" #fDescription="ngModel"
                class="rv-description rv-input"
                dividerColor="accent"
                flex="70"
                [type]="'text'"
                minlength="8"
                value="{{role.description}}"
                (change)="onChange($event)"
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
                placeholder="Description"></md-input>
    </div>
    <div class="rv-delete-button" flex layout="row" layout-align="end center">
      <button md-mini-fab
              type="button"
              class="ui button"
              aria-label="Delete Role"
              (focus)="onFocus($event)"
              (blur)="onBlur($event)"
              (click)="doRemoveRole()"
              [disabled]="false">
        <md-icon class="md-24">delete</md-icon>
      </button>
    </div>
  </form>
</div>



