.rv-input {
  margin-left: 2em;
}

.rv-role-roles-wrapper, .rv-role-permissions-wrapper {
  margin-left: 4em;
  .rv-role-role, .rv-role-permission {
    margin-left: 2em;
  }
}

.rv-sub-heading {
  font-size: larger;
}
