<md-sidenav-layout>


  <md-sidenav #sidenav mode="side" class="app-sidenav"></md-sidenav>

  <md-toolbar color="primary">
    <div layout-fill layout="row" layout-align="start center">
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>menu</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="userIsAdmin()" (click)="navigateToAdmin()"> Admin</button>
        <button md-menu-item> About</button>
        <button md-menu-item> Help</button>
        <button md-menu-item disabled> Sign Out</button>
      </md-menu>

      <span flex>{{title}}</span>
      <div flex="grow" layout="row" layout-align="end">
        <button md-raised-button
                *ngIf="!isSignedIn(signInState)"
                [disabled]="false"
                color="accent" class="rv-button" (click)="signIn($event)">
      <span>
        <i class="material-icons rv-button-icon">lock</i><i class="rv-button-text">{{loginButtonLabel}}</i>
      </span>
          Sign In
        </button>
        <rv-inline-profile-component [signInState]="signInState" [user]="user"></rv-inline-profile-component>
      </div>
    </div>

  </md-toolbar>

  <router-outlet></router-outlet>

</md-sidenav-layout>
