<md-sidenav-layout>


  <md-sidenav #sidenav mode="side" class="app-sidenav"></md-sidenav>

  <md-toolbar color="primary">
    <div layout-fill layout="row" layout-align="start center">
      <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="userIsAdmin()" (click)="navigateToAdmin()"> Admin</button>
        <button md-menu-item> About</button>
        <button md-menu-item> Help</button>
        <button md-menu-item disabled> Sign Out</button>
      </md-menu>

      <span flex>{{title}}</span>
      <div flex="grow" layout="row" layout-align="end">
        <button md-raised-button
                *ngIf="!isSignedIn(signInState)"
                [disabled]="false"
                color="accent" class="rv-button" (click)="signIn($event)">
      <span>
        <i class="material-icons rv-button-icon">lock</i><i class="rv-button-text">{{loginButtonLabel}}</i>
      </span>
          Sign In
        </button>
        <rv-inline-profile-component [signInState]="signInState" [user]="user"></rv-inline-profile-component>
      </div>
    </div>

  </md-toolbar>

  <div layout="row" layout-align="center">
    <div class="app-content" layout="column" layout-align="start" flex="80">

      <md-card>
        <rv-asciidoctor-panel style="white-space:normal;overflow-wrap: normal;overflow: auto"
                              [content]="asciidoctorContent"></rv-asciidoctor-panel>
      </md-card>
      <md-card>
        <button md-button>FLAT</button>
        <button md-raised-button color="primary">PRIMARY RAISED</button>
        <button md-raised-button color="accent">ACCENT RAISED</button>
      </md-card>

      <md-card>
        <md-checkbox>Unchecked</md-checkbox>
        <md-checkbox [checked]="true">Checked</md-checkbox>
        <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
        <md-checkbox [disabled]="true">Disabled</md-checkbox>
      </md-card>

      <md-card>
        <md-radio-button name="symbol">Alpha</md-radio-button>
        <md-radio-button name="symbol">Beta</md-radio-button>
        <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
      </md-card>

      <md-card *ngFor="let item of items | async">
        {{ item.$value }}
      </md-card>

      <md-card>
        <md-icon>build</md-icon>
      </md-card>

    </div>
  </div>


</md-sidenav-layout>
